@{
    var name = "Ramtin Abolfazli";
    var studentNumber = "101419226";
    var courseCode = "COMP2139-W2024";
}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to my about page</title>
</head>
<body>
    <h1>About Me</h1>
    <p> Name: Ramtin Abolfazli</p>
    <p> ID: 101419226</p>
    <p> Course Code: COMP2139 - W2024</p>

</body>
</html>