@{
    // Common Footer
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Comp_2139 - <a asp-area="" asp-controller="Home" asp-action="About">Ramtin Abolfazli</a>
    </div>
</footer>